<% provide(:title, 'Contact') %>

<p>
If for some reason you'd rather skip the bits and bytes and go right to the source, or even to find different bits and bytes about me, you've come to the right place!
</p>
<p>
<b>email:</b> <%=  mail_to "me@domain.com", "My email", :encode => "javascript"   %>
</p>
