<% provide(:title, 'Contact') %>

<p>
If you feel the urge to contact me but have no idea how to do so, this is the page for you.
</p>
<p>
<b>email:</b> zach.dischner@gmail.com
  <b> or call!</b> 303-919-1364</b>
</p>
