
<p>
Cheers! My name is Kevin Dinkel, and you have found my <a href="/">personal website</a>.
See that guy to the left? That is me, or at least the 2 dimensional version of me that cruises around the interwebs. You can
explore more about me using the link bar above ^^.
</p>
<br />
<p>
<text style="font-weight: bold;">You can also find me at:</text>
<ul>
<li><a href="http://www.linkedin.com/pub/kevin-dinkel/5b/501/786/">LinkedIn</a></li>
<li><a href="https://github.com/dinkelk">GitHub</a></li>
<li><a href="http://stackoverflow.com/users/1743929/dinkelk">Stack Overflow</a></li>
<li><a href="https://www.khanacademy.org/profile/dinkelk/">Khan Academy</a></li>
<li><a href="https://www.facebook.com/dinkelk">facebook</a></li>
</ul>
</p>
