<% provide(:title, 'Wine') %>

<p>
Good times call for good drinks. I am a wannabe wine connoisseur, but I have found that picking out a good bottle can sometimes be 
overwhelming. My solution: a trusty spreadsheet. Wines I have loved and those I have loved less can be explored
below.
</p>

<p>
<iframe width='725' height='350' frameborder='0' src='https://docs.google.com/spreadsheet/pub?key=0AndiLIMTtmzWdFNiLXA2bUdIMWI5c1hPSjBnTk5abmc&amp;output=html&amp;widget=true'></iframe>
</p>

<p>
This <%= link_to 'vintage chart', '/assets/VintageChart2013.pdf', target: "blank_" %> has also been useful.
<p>

<p>
Want to <%= link_to 'contribute', '/contact' %> to this list? Have <%= link_to 'suggestions', '/contact' %> for improving it? 
</p>